
$row-gutter: 15px;
$row-padding: 50px;


.row-gutter {
	margin: $row-gutter;
	padding-top: $row-padding;

	@include breakpoint(medium down) {
		padding-top: 0px;
		    margin: 0px $row-gutter;
	}
}

.cabana_logo {
	max-height: 45px;
	margin: 30px;
}
