.btn {
	box-sizing: border-box;
	width: 160px;
	height: 45px;
	background-color: transparent;
	border: 1px solid $dark-grey;
	color: $white;
	text-align: center;
	line-height: 45px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 30px 15px;
	font-size: 12px;
	cursor: pointer;

	&-green {
		@extend .btn;
		background-color: $green;
		color: $white;
		border: none;
		margin: 10px 15px;

		&-lg {
			@extend .btn-green;
			width: 100%;
			margin: 1.5em 0;
		}
	}

}