//Forms input

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
	margin: 0;
	border: none;
	border-bottom: 1px solid $grey;
	background-color: transparent;
	box-shadow: none;
	font-weight: 800;
	font-size: 25px;

	&:focus {
		    border: none;
		    border-bottom: 1px solid $grey;
		    background-color: transparent;
		    box-shadow: none;
	}
}


//Labels

label {
    display: block;
    margin: 0 0 0 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a;

    &::before {
    	content: "* ";
    	color: $red;
    	font-size: 20px;
    }
}