.title-text {
	letter-spacing: 5px;
	line-height: 1.5;
	color: $grey;
	font-weight: 400;

	@include breakpoint(medium down) {
			margin-top: 10px;
		}
}

.header-text {
	font-weight: 300;
	line-height: .5;
	&::before {
	    display: inline-block;
	    position: absolute;
	    content: "";
	    border-top: .3rem solid $white;
	    width: 4.5rem;
        margin: 2.5rem -6.2rem;
	    transform: translateY(-1rem);

	    @include breakpoint(medium down) {
			border-top: .02rem solid $white;
			width: 2.5rem;
			margin: 1.5rem -3.2rem;
		}
	}
	&-black {
		margin-bottom: 40px;
		font-family: serif;
	}

	&-black::before {
		@extend .header-text::before;
		border-top: .08rem solid $black;
		width: 2.5rem;
		margin: 2.4rem -3.9rem;

		@include breakpoint(medium down) {
			border-top: .02rem solid $black;
			width: 1.4rem;
		    margin: 1.85rem -2rem;
		}
	}	
}
.text-padding {
	padding: 0 5.4em;

	@include breakpoint(medium down) {
		padding: 0 1.4em;
	}
}

.quote {
	font-family: serif;
	font-size: 22px;

	&-markers {
		font-size: 80px;
		line-height: 30px;
		color: $orange;
		font-weight: 800;
	}
}

.cloud_list li {
	position: relative;
	list-style-type: none;
	
	&:before {
		content: '';
		position: absolute;
		top: 2px;
		left: -25px;
		background-image: url('../images/arrow_list.svg');
		width: 15px;
		height: 30px;
		background-size: contain;
		background-repeat: no-repeat;
	}
}
