@import 'settings';
@import 'node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-flex-classes;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-forms;
@include foundation-float-classes;

@import 'colors';
@import 'buttons';
@import 'basic';
@import 'text-style';
@import 'animation';
@import 'form';


// INTRO page ----------------------------------------

.intro-page {
	height: 100vh;
	width: calc(100vw-$row-gutter);
	background: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45)),url(../images/bg-image1.png);
    background-position: center center;
    background-color: white;

    h1, h6 {
		color: $white;
	}

	// SVG button
	#svg-btn {
		stroke: $white;
		cursor: pointer;
	}
	
	 .svg-arrow {
	 	transform-origin: 50% 50%;
	    animation-name: bounce;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
	    animation-timing-function: ease;
	}


}

// menu-bar

.menu-bar {
	box-shadow: -5px -5px 15px -5px rgba(170,170,170,0.40);
	z-index: 1;
	display: flex;
	background-color: $white;
	width: calc(100vw - 15px);

}
.fixed {
    position:fixed;
    top: 0;
    right: 0;
}


// Section 3 --------------------------------------------

.border-box {
	border: 5px solid $orange;
	box-sizing: border-box;
	padding: 65px;

	@include breakpoint(medium down) {
		padding: 25px;
		margin: 0px;
	}
}





// Form --------------------------------------------

#form {
	background-color: $light-grey;
	padding: 80px 0;
	margin-top: 80px;

	@include breakpoint(medium down) {
		padding: 40px 0;
		margin-top: 20px;
	}
}


// FOOTER --------------------------------------------

footer { 
	background-color: $black;
	color: $white;
	padding: 50px 90px;

	a {
		color: $white;
	}

	@include breakpoint(medium down) {
		padding: 20px 0px;
	}
}